<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PHPMC 7 - Мастер установки</title>
        <link rel="shortcut icon" href="../content/PHPMC7/assets/favicon.ico">
        <link href="../content/PHPMC7/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../content/PHPMC7/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="../content/PHPMC7/assets/css/style.min.css" rel="stylesheet">
        <script src="../content/PHPMC7/assets/js/jquery.min.js"></script>
        <script src="../content/PHPMC7/assets/js/bootstrap.min.js"></script>
        <script src="../content/PHPMC7/assets/js/layer.min.js"></script>
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/layer.css" id="layui_layer_skinlayercss" style="">
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/layer.ext.css" id="layui_layer_skinlayerextcss" style="">
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/style.css" id="layui_layer_skinmoonstylecss" style=""></head>
    <body class="gray-bg" style="color:#FFF;">
        <div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							<h1>PHPMC <span class="text-success">7</span> <small>Мастер установки</small></h1>
							<p>Добро пожаловать в PHPMC 7, систему управления сервером Minecraft, с кросс-платформеннымыми распределенными функциями для поддержки управления серверами группы BungeeCord.</p>
							<p>Это программное обеспечение разработано Akkariin, GNU General Public License v3 open source protocol.</p>
							<p>PHPMC 7 Официальный сайт <a href="https://www.phpmc.cn/" target="_blank">https://www.phpmc.cn/</a></p>
							<p>Перевод от: <a href="http://github.com/maxim19116" target="_blank">http://github.com/maxim19116</a></p>
							<textarea class="form-control" style="height: 512px;background: none;border: 1px solid rgba(255,255,255,0.3);" readonly="readonly">
Благодарим вас за использование PHPMC 7, чтобы защитить разработчиков и ваши интересы, пожалуйста, соблюдайте следующие соглашения при использовании PHPMC 7.
Если не указано иное, все следующие “программное обеспечение” представляют PHPMC 7, “разработчик” Аккариин, “пользователь” от вашего имени или любого лица, использующего программное обеспечение.

Код с открытым исходным кодом
Пользователи могут использовать программное обеспечение для личного обучения, тестирования, без каких-либо затрат для разработчиков, это программное обеспечение с открытым исходным кодом.
Пользователи могут вносить изменения в исходный код программного обеспечения, выпускать производные версии, программное обеспечение и т. д., Но должны быть такими же, как и в протоколе с открытым исходным кодом программного обеспечения (т. е. GPLv3).
Пользователям не разрешается использовать модифицированную версию программного обеспечения для коммерческого использования, вторичной продажи и т. д., Только с открытым исходным кодом, т.е бесплатное использование.

Заявление об ответственности
Пользователи должны понимать, что: программное обеспечение не является совершенным, неизбежно будут ошибки, уязвимости, если программное обеспечение из-за каких-либо проблем, вызванных потерей пользователей, разработчик не несет никакой ответственности.
Пользователи должны регулярно создавать резервные копии данных и проверять систему при повседневном использовании.

В-третьих, разрешение на перепечатку
Пользователи могут ввести программное обеспечение, опубликованное на любом веб-сайте без необходимости перепечатывать разработчикам приложений, но перепечатать содержание сообщения и разработчики должны придерживаться оригинала, чтобы сохранить примерно то же самое, внешний вид, типографика и цвет шрифта может отличаться.
Пользователям не разрешается продавать программное обеспечение с помощью замаскированных средств, таких как форумы, платные очки, видимые и т. д., разработчик должен предоставить ссылку для загрузки оригинальной версии.
В перепечатанных постах должны быть указаны адрес оригинала и адрес разработчика (т. е. Аккариин).

Несмотря на то, что это соглашение не имеет юридических последствий, я надеюсь, что вы будете следовать этим соглашениям, и ваша поддержка является моей мотивацией для продолжения разработки программного обеспечения.
Еще раз спасибо за использование!
							</textarea>
							<div class="text-center">
								<br>
								<p>Начав установку, вы читаете и соблюдаете вышеупомянутое соглашение.</p>
								<a href="?step=2">
									<button class="btn btn-success"><i class="fa fa-send"></i> Начать установку</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>